<div class="title-header">
    <span class="events">{{label}}</span><span class="events-time">{{events.[1].time}}</span>
</div>
{{#each events as |event| }}
    <div class="live-event">
        <div class="box-off" >
            <a class="event-link" style="display:block" href="{{event.url}}">
                <div class="clearfix event-content">
                    <span>
                        <div class="event-category"></div>
                    </span>
                    <div class="event-title">
                        <span>{{event.title}}</span>
                    </div>
                    <span>
                        <div class="arrow-right"></div>
                    </span>
                    <div class='speaker-list'>
                        {{#if event.speakers}}
                            <span>Speakers: </span>
                            {{#each event.speakers as |speaker|}}
                                {{{speaker}}}
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
            </a>
        </div>
    </div>
{{/each}}
